/* Main Styling */
body {
  font-family: 'Barlow', sans-serif;
  margin: auto;
  position: relative;
  margin: 20px;
  height: 100%;
}

h1 {
  font-size: 44px;
  font-weight: bold;
}

h2 {
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
}

p {
  margin: 0;
}

a {
  color: inherit; 
  text-decoration: underline; 
}

hr { 
    display: inline-block;
    width: 950px;
    border-style: inset;
    border-width: .5px;
    border-color:#9e9c9c;
} 

/*********************/
/* Introduction Page */
/*********************/
.dataDescription{
  text-align: justify;
  line-height: 160%;
  margin-top: 50px;
  margin-right: 140px;
  margin-bottom: 35px;
}

#datasource {
  margin: 0;
  border: 0;
  font-size: 12px;
  font-style: italic;
}

#introHeading {
  width: 100%;
  margin-right: 200px;
}

#footerText {
  margin-top: 140px;
}

.btn {
  font-size: 16px;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#enterPage:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/************************************/
/* Cause Data Visualization Styling */
/************************************/
#visualHeading {
  font-size: 46px;
  margin-bottom: 10px; 
}

#dataVisualText{
  margin-bottom: 10px;
}

.toolTip {
        position: absolute;
        display: none;
        width: 200px;
        height: auto;
        overflow-wrap: normal;
        background: none repeat scroll 0 0 white;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font-size: 24px;
        padding: 5px;
        text-align: center;
}

#backButton {
    margin-top: 70px;
    margin-right: 100px;
    position: fixed;
    right: 0;
    top: 0;
}

#backButtonContainer{
  display: inline-block;
}

#subHeading {
  display: inline-block;
}

/*********************/
/* Modal Formatting  */
/* Cause Visual Modal*/
/*********************/
#text1{
  font-size: 16px;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
}

#text2{
  font-size: 16px;
  margin-bottom: 10px;
}

#modalHeaderText{
  font-size: 24px;
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;
}

#guessInstructions{
  font-size: 16px;
  margin-bottom: 40px;
}

/*********************/
/*Tree Visual Styling*/
/*********************/
 .node {
    border: solid 1px white;
    overflow: hidden;
    position: absolute;
    top: 50%;
    border-radius: 1px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0)); 
}

.node div {
   padding: 6px 4%;
}

/*********************/
/*Guess Modal Styling*/
/*********************/
.toast {
  opacity: 1 !important;
}

#toast-container > div {
  opacity: 1 !important; 
}

#guessForm{
  text-align: center;
  margin-bottom: 30px;
}

#submit{
  margin-left: 10px;
}

.btn-default{
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  padding: 2px 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
/**************************/
/*Pop-up Visual Dialog Box*/
/**************************/
#myModal {
  font-family: 'Barlow', sans-serif;
}

