/* Main Styling */
body {
  font-family: 'Barlow', sans-serif;
  margin: auto;
  position: relative;
  margin: 20px;
  height: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
  margin: 0;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Introduction Page */
.dataDescription{
  text-align: justify;
  line-height: 160%;
  margin-top: 50px;
  margin-right: 200px;
  margin-bottom: 35px;
}

#datasource {
  margin: 0;
  border: 0;
  font-size: 12px;
  font-style: italic;
}

#introHeading {
  width: 100%;
  text-align: justify;
  margin-right: 200px;
}

#footerText {
  margin-top: 140px;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

.btn {
  font-size: 15px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#enterPage:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Cause Data Visualization Styling */
#visualHeading {
  font-size: 24px;
  margin-bottom: 10px;
}

#subHeading {
  font-style: italic;
  font-size: 17px;
  margin-bottom: 20px;
  color: #56504e;
}

#dataVisualText{
  margin-bottom: 30px;
}


/*********************/
/*Tree Visual Styling*/
/*********************/
 .node {
    border: solid .5px white;
    overflow: hidden;
    position: absolute;
    top: 50%;
    border-radius: 1px;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0)); 
}

.node div {
   padding: 6px 4%;
}

/*********************/
/*   Modal Styling   */
/*********************/
form {
  position: relative;
}
